[submodule "packages/ruby-install_0.7.0-1"]
	path = packages/ruby-install_0.7.0-1
	url = git@github.com:edclements/ruby-install-debian.git
[submodule "packages/chruby"]
	path = packages/chruby
	url = git@github.com:edclements/chruby-debian.git
[submodule "packages/dwm"]
	path = packages/dwm
	url = git@github.com:edclements/dwm-debian.git
[submodule "packages/stterm"]
	path = packages/stterm
	url = git@github.com:edclements/stterm-debian.git
